@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:#131415;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(241, 238, 230);
    padding:20px;
    margin: 60px;
    
    border-radius: 5px;
    box-shadow: #4b4d4e 1px 2px 10px 10px;
}

.form {
    display: flex;
}

input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
    font-size: 1rem;
    font-family: cursive;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.btn_add {
    padding: 5px 15px;
    border: none;
    font-size: 1.4rem;
    outline: none;
    background-color: teal;
    color:#fafafa;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

ul li {
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    margin: 8px;
    background-color: #fafafa;
}
